node_modules
coverage
coverage_unit
.nyc_output
.nyc_output_unit
.coverage*
.vscode
**/.DS_Store
.env
.npmrc
*.log
.git
.github
.husky
.changeset
ci
config
demo
test
**/*.spec.js
CLAUDE.md
CONTRIBUTING.md
README.md